.header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 1%, rgba(10,84,117,1) 44%, rgba(21,122,171,1) 74%, rgba(6,134,171,1) 100%);
  padding: 0px;
  color: #333;
  font-family: 'Poppins', sans-serif;
  box-shadow: inset 0px -5px 10px -5px rgba(0.5, 0.5, 0.5, 0.5);
}

.logo-container-home {
  flex: 0 1 auto;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center !important;
  flex: 1;
}



.form-container input::placeholder {
  color: rgba(255, 255, 255, 0.5);  /* Placeholder branco clarinho */
}




.form-container input {
  margin: 5px;
  background: transparent;
  padding: 10px;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease-in-out;
  box-sizing: border-box; /* Adiciona box-sizing para incluir padding e border no cálculo do height */
  /* Garante que o input ocupe 100% da largura do contêiner */
  height: 100% !important;
}

.form-container input:focus {
  border-color: #e2e2e2;
}

.menu-icon-container {
  position: relative;
  display: inline-block;
 
}

.context-menu {
  position: absolute;
  top: 100%; /* Posiciona o menu logo abaixo do ícone */
  left: -50%; /* Desloca para a esquerda para alinhar visualmente como um submenu */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1000;
  width: 200px; /* Largura fixa para o menu */
}

.context-menu button {
  display: block;
  background-color: transparent;
  border: none;
  color: #333;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.context-menu button:hover {
  background-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.content-home {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh; /* Ocupa a altura total da tela */
  justify-content: space-between;
  background: #06547E;
  padding: 20px;
  overflow: hidden; /* Oculta qualquer overflow indesejado */
}

.top_right_card {
  background-color: #157aab;
  border-radius: 8px;
  margin: 15px 0 0 5px !important;
  padding: 45px 0 0 0;
  height: 78% !important;
  
  

  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.bottom_left_card{
  
  background-color: #157aab;
  border-radius: 8px;
  margin: 5px;
  padding: 20px 20px  0  20px;
  border: none;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  height: 90% !important;
}

.bottom_right_card{
  
  background-color: #157aab;

  border-radius: 8px;
  margin: -110px 0 0 5px !important;
  padding: 30px 0  0  0;
  height: 137% !important;
  
  border: none;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.card_secondary {
  
  background: linear-gradient(
    to bottom, 
    #0a5475,  /* Cor inicial */
    #07425a,  /* Um pouco mais escuro */
    #032a40   /* Ainda mais escuro */
);
  border-radius: 8px;
  margin: 5px;

  padding: 20px;
  border: 3px solid #5ba8c9; /* Borda azul clara */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card_obtjetive_3d {
  margin-top: 20px !important;
  flex: 1;
  height: 100%;
}

.card_countors_levels {
  flex: 1;
  height: 120%;
  margin-top: -140px;
  
}

.card_convergence_curve {
  flex: 1;
  height: 70%;
}

.card_feasibility_region {
  flex: 1;
  height: 70%;
}

.card_solution_trajectory {
  margin-top: 20px !important;
  flex: 1;
  height: 70%;
}
